<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>ADD PRODUCT</h2>
	
	<a href="#">Back</a><br/><br/>

	<form method="post">
		<table>
			<tr>
				<td>PRODUCT NAME</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>PRICE</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>QUANTITY</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>CATEGORY</td>
				<td>
					<select>
						<option>Type-1</option>
						<option>Type-2</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Add"></td>
			</tr>
		</table>
	</form>
	<br/>
	<label><!-- error message goes here --></label>
</body>
</html>